{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Todo Index</title>
{% endblock %}

{% block content %}
    <b>Hello {{ user.name }}</b>
    <br/>
    <b>Stuff gonna show here</b>
    <form action="{% url 'add_task' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>Add new task</button>
    </form>
    <br/>
    {% if unfinished_tasks %}
    <b>Todos!</b>
    <div>
        <ul>
            {% for instance in unfinished_tasks %}
                <li>
                    <span>
                        <b>{{ instance.template.name }}</b>
                        <br/>
                        <b>Created at {{ instance.created_at }}</b>
                        {% if instance.template.location %}
                            <p>
                                Location: 
                                {{ instance.template.location }}
                            </p>
                        {% endif %}

                        {% if instance.template.description %}
                            <p>
                                Description: 
                                {{ instance.template.description }}
                            </p>
                        {% endif %}
                        <div>
                            <div>
                                <a id="completed-bt" href="#" data-instance-id="{{ instance.id }}">
                                    Completed
                                </a>
                            </div>
                            <div>
                                <a id="completed-bt" href="#">Edit</a>
                            </div>
                            <div>
                                <a id="cancell-bt" href="#" data-instance-id="{{ instance.id }}">Cancell</a>
                            </div>
                        </div>
                    </span>
                </li>
            </br>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <br/>
    {% if finished_tasks %}
    <b>Finished Tasks</b>
        <div>
            <ul>
                {% for instance in finished_tasks %}
                <li>
                    <span>
                        <b>{{ instance.template.name }}</b>
                        <br/>
                        <b>Finished at {{ instance.finished_at }}</b>
                        {% if instance.template.location %}
                            <p>
                                Location: 
                                {{ instance.template.location }}
                            </p>
                        {% endif %}

                        {% if instance.template.description %}
                            <p>
                                Description: 
                                {{ instance.template.description }}
                            </p>
                        {% endif %}
                        <div>
                            <div>
                                <a id="un-completed-bt" href="#" data-instance-id="{{ instance.id }}">
                                    Uncompleted
                                </a>
                            </div>
                        </div>
                    </span>
                </li>
                {% endfor %}
            </br>
            </ul>
        </div>
    {% endif %}
    <div>
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button>Log Out</button>
          </form>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "tasks/index.js" %}">
    </script>
{% endblock %}